@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @font-face {
    font-family: "inter";
    src: url("/fonts/Inter/Inter-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "inter";
    src: url("/fonts/Inter/Inter-Medium.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: "inter";
    src: url("/fonts/Inter/Inter-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }
  @font-face {
    font-family: "inter";
    src: url("/fonts/Inter/Inter-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: "inter";
    src: url("/fonts/Inter/Inter-Black.ttf");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
  }

  @font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-Medium.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
  }

  .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
  }

  .btn {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }
  button,
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .ul {
    padding: 25px;
    position: absolute;
    top: 100px;
    width: 200px;
    right: 40px;
  }

  .li {
    list-style: none;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  html {
    @apply overflow-x-hidden;
  }
  body {
    background-color: #222233;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "quicksand";
  }
  body::-webkit-scrollbar {
    width: 0.3em;
  }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid black;
  }

  .hover-underline:hover {
    cursor: pointer;
  }
  .hover-underline:hover:after {
    width: 100%;
    transition: width 0.4s;
  }
  .hover-underline::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background: #4a69ff;
    transition: width 0.2s;
  }
}
